@import '../../styles/common';

.section {
  padding-top: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);

  @media (max-width: $res500) {
    flex-direction: column;
    align-items: center;
  }

  &__input {
    flex-grow: 1;
    padding: 16px 0 16px 30px;
    font-size: 18px;
    line-height: 187%;
    color: $grey-898;
    outline: none;
    border: 1px solid $grey-c7c;

    @media (max-width: $res768) {
      padding: 7px 0 7px 7px;
    }

    @media (max-width: $res500) {
      width: 100%;
      font-size: 16px;
    }
  }
}

.content {
  padding: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
