@import '../../../styles/common';

.section {
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  margin-bottom: clamp(1.25rem, -1.131rem + 11.9vw, 6.25rem);

  @media (max-width: $res1200) {
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    height: 500px;
  }

  @media (max-width: $res768) {
    gap: 0px;
    height: 400px;
  }
}

.img {
  margin-right: 100px;
  position: relative;
  z-index: 5;

  @media (max-width: $res1200) {
    margin-right: 0px;
  }

  @media (max-width: $res768) {
    transform: scale(0.6);
  }

  &__main {
    border-radius: 0 35px 0 0;
  }

  &::before {
    content: '';
    position: absolute;
    width: 405px;
    height: 401px;
    background: linear-gradient(150deg, #fdbe14, #c562bc);
    top: -18px;
    right: -22px;
    border-radius: 0 35px 0 0;
    z-index: -1;
  }

  &__spiral,
  &__wave,
  &__dots18 {
    position: absolute;
    z-index: -2;
  }

  &__spiral {
    left: -95px;
    top: -56px;
    transform: rotate(180deg);
  }

  &__wave {
    right: -122px;
    bottom: -20px;
  }

  &__dots18 {
    bottom: 30px;
    left: -63px;
  }
}

.dec {
  &__camera,
  &__dots72 {
    @media (max-width: $res768) {
      display: none;
    }

    position: absolute;
    z-index: 1;
  }

  &__camera {
    top: 25px;
    left: 40px;
  }
  &__dots72 {
    left: 0;
    bottom: 40px;
  }
}
