@import '../../../styles/var';

.item {
  max-width: 495px;
  border-radius: 20px;
  border: 1px solid $white-dbd;

  &__img {
    & img {
      width: 100%;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;

    @media (max-width: $res992) {
      flex-direction: column;
    }

    &__img {
      & img {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &__name,
    &__date {
      font-weight: 600;
      font-size: 13px;
      color: $grey-404;
      position: relative;
      line-height: 120%;
    }

    &__name {
      padding-right: 15px;

      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: $grey-404;
        right: 0;
        top: 0;

        @media (max-width: $res992) {
          display: none;
        }
      }
    }

    &__date {
      font-weight: 400;
      padding-left: 22px;

      &::before {
        position: absolute;
        content: url(../../../assets/icons/dateStyle2.svg);
        top: -2px;
        left: 0;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    color: $black-171;
    font-size: clamp(1.125rem, 1.01rem + 0.24vw, 1.25rem);
    font-weight: 600;
    line-height: 150%;
  }

  &__text {
    color: $black-171;
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    // hidden content with this code
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  &__btn {
    padding-top: 5px;
    & a {
      font-weight: 500;
      font-size: 15px;
      line-height: 125%;
      color: $grey-4f4;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.content {
  padding: clamp(0.625rem, 0.337rem + 0.6vw, 0.938rem) clamp(0.625rem, -0.24rem + 1.8vw, 1.563rem)
    clamp(0.625rem, -0.24rem + 1.8vw, 1.563rem);
}
