@import '../../styles/common';

.top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  padding: 0 20px;

  @media (max-width: $res1400) {
    flex-direction: column;
    align-items: center;
  }

  &__content {
    & h4 {
      max-width: 1100px;
      line-height: 89px;
      position: relative;
      font-size: 62px;
      z-index: 1;

      @media (max-width: $res1400) {
        margin: 0 auto;
        text-align: center;
      }

      & img {
        position: absolute;
        left: 74px;
        bottom: -5px;

        @media (max-width: $res1200) {
          right: 15%;
          bottom: 0;
        }
      }

      &::before {
        content: '';
        position: absolute;
        background-color: $yellow;
        width: 268px;
        height: 76px;
        left: 52%;
        top: 5px;
        z-index: -1;
      }
    }

    & p {
      font-size: 32px;
      font-weight: 600;
      color: $white;
      line-height: 110%;
      padding: 30px 0 90px;

      @media (max-width: $res1400) {
        padding: 20px 0 20px;
        text-align: center;
      }
    }
  }

  & button {
    margin-top: 30px;

    @media (max-width: $res1400) {
      margin: 0 0 20px;
    }
  }
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 60px;
  margin: 0 20px;
  border-top: 1px solid $white-dbd;

  &__item {
    display: flex;
    gap: 20px;
    align-items: center;

    & p {
      font-size: 28px;
      font-weight: 600;
      color: $white;
      text-transform: capitalize;
    }
  }
}
