@import '../../../styles/var';

.title {
  font-size: 62px;
  font-family: $poppins;
  font-weight: 700;
  letter-spacing: 2%;
  color: $black-171;
  padding-top: 130px;
  position: relative;

  &__wrap {
    display: flex;
    justify-content: center;
  }

  &::after {
    content: url(../../../assets/icons/other/line.svg);
    position: absolute;
    bottom: -35px;
    right: -20px;
  }

  &::before {
    content: url(../../../assets/icons/other/bulb.svg);
    position: absolute;
    bottom: -10px;
    left: -80px;
  }
}

.list {
  padding: 70px 0 100px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 40px;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 380px;
    max-width: 370px;
    box-shadow: 0px 4px 10px rgba($color: $black, $alpha: 0.1);

    &__img {
      width: 130px;
      height: 130px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      & img {
        width: 106px;
        height: 106px;
      }

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $white-e8e;
        border-radius: 50%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    &__p {
      font-size: 28px;
      font-weight: 600;
      font-family: $poppins;
      letter-spacing: 2%;
      line-height: 130%;
      color: $black-3a3;
      text-align: center;
      padding: 40px 30px 0;
    }
  }
}

.why {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &__left {
    position: relative;
    z-index: 1;
    &::after {
      content: url(../../../assets/icons/decorations/spiralBlack.svg);
      position: absolute;
      bottom: -5%;
      right: 20%;
      z-index: 1;
    }

    &__title {
      font-size: 65px;
      color: $black-171;
      font-family: $poppins;
      font-weight: 700;
      line-height: 130%;
      max-width: 620px;
      position: relative;
      z-index: 1;

      &::after {
        content: url(../../../assets/icons/other/line.svg);
        position: absolute;
        top: 125px;
        right: 10px;
        z-index: -1;
      }
    }
    &__list {
      list-style: disc;
      color: $grey-898;
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 800px;
      padding: 55px 0 45px 25px;

      & li {
        font-size: 22px;
        font-family: $poppins;
        font-weight: 400;
        line-height: 180%;
      }
    }
  }

  &__right {
    width: 674px;
    height: 624px;
    position: relative;
    z-index: 2;

    &__photomain__left {
      position: absolute;
      width: 330px;
      height: 562px;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &__photomain__right {
      position: absolute;
      width: 330px;
      height: 562px;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    &__photodec__left {
      position: absolute;
      bottom: 25px;
      left: -25px;
    }

    &__photodec__right1 {
      position: absolute;
      bottom: 290px;
      right: -130px;
    }

    &__photodec__right2 {
      position: absolute;
      top: -25px;
      right: 228px;
    }
  }
}

.other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 180px;

  &__left {
    & img {
      width: 869px;
      height: 570px;
    }
  }

  &__right {
    width: 562px;
    height: 333px;
    position: relative;
    z-index: 10;

    &::after {
      position: absolute;
      content: url(../../../assets/icons/decorations/groupPeopleStars.svg);
      top: 8px;
      right: 44px;
    }

    &::before {
      position: absolute;
      content: url(../../../assets/icons/decorations/roundedFullFill.svg);
      bottom: -200px;
      right: -35px;
    }

    & div {
      position: absolute;
    }

    &__ten {
      top: 0;
      left: 0;
      background-color: $purple;
      font-size: 200px;
      font-family: $poppins;
      font-weight: 700;
      color: $white;
      padding: 10px;

      &::before {
        position: absolute;
        content: '';
        border: 3px solid $purple;
        top: 13px;
        left: 15px;
        width: 224px;
        height: 221px;
      }

      &::after {
        position: absolute;
        content: url(../../../assets/icons/decorations/dotsLessBlack.svg);
        top: -155px;
        left: -30px;
      }
    }

    &__year {
      font-size: 80px;
      font-family: $poppins;
      font-weight: 700;
      line-height: 137%;
      color: $black-171;
      text-transform: uppercase;
      bottom: 65px;
      right: 0;
    }

    &__exp {
      font-size: 50px;
      font-family: $poppins;
      font-weight: 600;
      line-height: 137%;
      color: $white;
      letter-spacing: 10px;
      text-transform: uppercase;
      bottom: 0px;
      right: 27px;
      z-index: 2;

      &::after {
        content: '';
        position: absolute;
        background-color: $sky;
        z-index: -1;
        top: 0;
        left: -20px;
        right: -20px;
        bottom: 0;
      }
    }
  }
}
