// bauziet
@font-face {
  font-family: 'Bauziet';
  font-weight: 400;
  src: url('../assets/fonts/Bauziet/Bauziet-Regular.ttf');
}

// lato
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

// inter
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../assets/fonts/Inter/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('../assets/fonts/Inter/Inter-ExtraBold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url('../assets/fonts/Inter/Inter-Black.ttf');
}

// poppins
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  src: url('../assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../assets/fonts/Poppins/Poppins-Black.ttf');
}
