// colors
$white: #fff;
$white-faf: #fafafa;
$white-fdf: #fdfdff;
$white-e8e: #e8e8e8;
$black: #000;
$black-171: #171c35;
$black-1e1: #1e1e1e;
$black-3a3: #3a3a3a;
$black-2b2: #2b2450;
$yellow: #fdbe14;
$orange: #fc9f4a;
$orange-f59: #f59444;
$purple: #775ff1;
$sky: #3bb5d7;
$grey-404: #404040;
$grey-606: #606060;
$grey-898: #898d92;

// fonts
$bauziet: 'Bauziet', serif;
$lato: 'Lato', serif;
$inter: 'Inter', serif;
$poppins: 'Poppins', serif;

// transition
$quickly: all 0.1s ease;
$normal: all 0.3s ease;

// response

$res1400: 1400px;
$res1200: 1200px;
$res992: 992px;
$res768: 768px;
$res600: 600px;
$res500: 500px;
