// colors
$white: #fff;
$white-fdf: #fdfdff;
$white-e8e: #e8e8e8;
$black: #000;
$black-171: #171c35;
$black-3a3: #3a3a3a;
$yellow: #fdbe14;
$orange: #fc9f4a;
$purple: #775ff1;
$grey-606: #606060;
$grey-898: #898d92;

// fonts
$bauziet: 'Bauziet', serif;
$lato: 'Lato', serif;
$inter: 'Inter', serif;
$poppins: 'Poppins', serif;

// transition
$quickly: all 0.1s ease;
$normal: all 0.3s ease;
