@import '../../styles/common';

.title {
  line-height: 137%;
  padding: clamp(1.25rem, 0.313rem + 4.69vw, 5rem) 0 clamp(2.5rem, 2.188rem + 1.56vw, 3.75rem);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;

  & img {
    @media (max-width: $res768) {
      display: none;
    }
  }

  &__line {
    bottom: 60px;
    right: 36%;
    position: absolute;
    z-index: -1;
  }
}

.gallery img {
  object-fit: cover;
}

.btn {
  &__inner {
    display: flex;
    justify-content: center;
    padding: clamp(2.5rem, 2.188rem + 1.56vw, 3.75rem) 0 20px;
  }
}
