@import '../../styles/common';

.wrapper__white {
  background-color: $white-f9f;
  padding: 85px 0 70px;
}

.title {
  padding-bottom: 60px;
  position: relative;

  @media (max-width: $res768) {
    text-align: center;
  }

  & img {
    position: absolute;
    left: 140px;
    bottom: 40px;

    @media (max-width: $res768) {
      display: none;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;

  @media (max-width: $res1200) {
    align-items: center;
  }

  @media (max-width: $res992) {
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }

  &__left {
    max-width: clamp(20rem, -21.538rem + 86.54vw, 65rem);

    @media (max-width: $res992) {
      max-width: 100vw;
    }

    & img {
      max-width: clamp(20rem, -21.538rem + 86.54vw, 65rem);

      @media (max-width: $res992) {
        max-width: 100vw;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 36px 15px 0 0;

      @media (max-width: $res430) {
        flex-direction: column;
        gap: 10px;
      }

      & p {
        max-width: 629px;
        font-size: 16px;
        line-height: 140%;
        padding: 20px 0 20px 16px;
        margin-left: 20px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 6px;
          background-color: $purple;
          left: 0;
          top: 0;
        }
      }
    }
  }

  &__right {
    padding-top: 35px;

    @media (max-width: $res1200) {
      padding-top: 0;
    }

    &__item {
      border-bottom: 1px solid $white-dbd;

      &:first-child {
        border-top: 1px solid $white-dbd;
      }
      & a {
        padding: clamp(1.875rem, 0.982rem + 4.46vw, 3.75rem) 0;
        font-size: clamp(1.125rem, 0.827rem + 1.49vw, 1.75rem);
        font-weight: 600;
        line-height: 130%;
        color: $black-171;
        transition: $normal;
        display: flex;
        align-items: center;
        gap: 40px;

        & span {
          font-size: clamp(1.875rem, 0.923rem + 4.76vw, 3.875rem);
          font-weight: 700;
          transform: rotate(90deg);
        }

        &:hover {
          color: $purple;
        }
      }
    }
  }
}
