@import '../../styles/var';

.title {
  font-size: 65px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-family: $poppins;
  font-weight: 700;
  color: $black-171;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;

  &__line {
    position: absolute;
    z-index: -1;
    bottom: 77px;
    right: 36%;
  }
}

.gallery {
  & img {
    cursor: pointer;
    transition: $normal;

    &:hover {
      filter: brightness(1.1);
      transform: scale(1.02);
    }
  }
}
