@import '../../styles/common';

.title {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem) 0;
  position: relative;
  z-index: 1;

  & img {
    @media (max-width: $res768) {
      display: none;
    }
  }

  &__line {
    position: absolute;
    z-index: -1;
    bottom: 77px;
    right: 36%;
  }
}

.gallery {
  & img {
    cursor: pointer;
    transition: $normal;

    &:hover {
      filter: brightness(1.1);
      transform: scale(1.02);
    }
  }
}
