@import '../../styles/common';

.title {
  line-height: 130%;
  max-width: 620px;
  position: relative;
  z-index: 1;

  @media (max-width: $res1400) {
    text-align: center;
    margin: 0 auto;
  }

  &__line {
    position: absolute;
    z-index: -1;
    bottom: -20px;
    right: 10px;

    @media (max-width: $res768) {
      display: none;
    }
  }
}

.wrap__btn {
  @media (max-width: $res1400) {
    display: flex;
    justify-content: center;
  }
}

.why {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (max-width: $res1400) {
    flex-direction: column;
    gap: 50px;
  }

  &__left {
    position: relative;
    z-index: 1;

    &__spiral {
      position: absolute;
      z-index: -1;
      left: 65%;
      bottom: -40px;

      @media (max-width: $res768) {
        display: none;
      }
    }

    &__list {
      list-style: disc;
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 800px;
      padding: 55px 0 45px 25px;
      font-size: 22px;

      @media (max-width: $res768) {
        font-size: 18px;
        padding: 20px;
      }

      & li {
        font-family: $poppins;
        font-weight: 400;
        line-height: 180%;
        text-transform: capitalize;
      }
    }
  }

  &__right {
    width: 674px;
    height: 624px;
    position: relative;
    z-index: 2;

    @media (max-width: $res768) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 329px;
      height: 487px;
      top: 115px;
      left: -24px;
      z-index: 1;
      background: linear-gradient(186deg, #3bb5d7, #fdbe14);
      border-radius: 0 0 0 35px;
    }

    &__photomain__left {
      position: absolute;
      width: 330px;
      height: 562px;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &__photomain__right {
      position: absolute;
      width: 330px;
      height: 562px;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    &__photodec__dots {
      position: absolute;
      z-index: -1;
      top: -25px;
      right: 228px;
    }

    &__photodec__shape {
      position: absolute;
      z-index: -2;
      right: -130px;
      top: -100px;
    }
  }
}

// year
.year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 180px;

  @media (max-width: $res1510) {
    flex-direction: column;
    gap: 40px;
  }

  @media (max-width: $res768) {
    padding: 80px 0 60px;
  }

  &__dec {
    position: absolute;
    bottom: 80px;
    right: 0px;

    @media (max-width: $res768) {
      display: none;
    }
  }

  &__left {
    & img {
      width: 869px;
      height: 570px;

      @media (max-width: $res1510) {
        width: 100vw;
        height: 400px;
        object-fit: cover;
      }
    }
  }

  &__right {
    width: 562px;
    height: 333px;
    position: relative;
    z-index: 10;

    @media (max-width: $res600) {
      transform: scale(0.7);
    }

    @media (max-width: $res430) {
      transform: scale(0.5);
    }

    & div {
      position: absolute;
    }

    &__ten {
      top: 0;
      left: 0;
      background-color: $purple;
      font-size: 200px;
      font-family: $poppins;
      font-weight: 700;
      color: $white;
      padding: 10px;

      &__dots {
        position: absolute;
        top: -31px;
        left: -29px;

        @media (max-width: $res768) {
          display: none;
        }
      }

      &::before {
        position: absolute;
        content: '';
        border: 3px solid $purple;
        top: 13px;
        left: 15px;
        width: 224px;
        height: 221px;
      }
    }

    &__year {
      font-size: 80px;
      font-family: $poppins;
      font-weight: 700;
      line-height: 137%;
      color: $black-171;
      text-transform: uppercase;
      bottom: 65px;
      right: 0;

      &__dec {
        position: absolute;
        top: -150px;
        right: 44px;
      }
    }

    &__exp {
      font-size: 50px;
      font-family: $poppins;
      font-weight: 600;
      line-height: 137%;
      color: $white;
      letter-spacing: 10px;
      text-transform: uppercase;
      bottom: 0px;
      right: 27px;
      z-index: 2;

      &::after {
        content: '';
        position: absolute;
        background-color: $sky;
        z-index: -1;
        top: 0;
        left: -20px;
        right: -20px;
        bottom: 0;
      }
    }
  }
}
