@import '../../styles/common';

.title {
  padding-top: 130px;
  position: relative;
  z-index: 1;

  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__bulb,
  &__line {
    position: absolute;
    z-index: -1;
  }

  &__bulb {
    left: -75px;
    bottom: -5px;
  }

  &__line {
    bottom: -25px;
    right: -10px;
  }
}

.list {
  padding: 70px 0 100px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 40px;
  align-items: center;
  position: relative;
  z-index: 1;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 380px;
    max-width: 370px;
    box-shadow: 0px 4px 10px rgba($color: $black, $alpha: 0.1);

    &__img {
      width: 130px;
      height: 130px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      & img {
        width: 106px;
        height: 106px;
      }

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $white-e8e;
        border-radius: 50%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    &__p {
      font-size: 28px;
      font-weight: 600;
      line-height: 130%;
      color: $black-3a3;
      text-align: center;
      padding: 40px 30px 0;
    }
  }
}
