@import '../../styles/var';

.title {
  text-align: center;
  font-weight: 700;
  font-family: $poppins;
  font-size: 62px;
  color: $black-171;
  position: relative;
  z-index: 1;

  &__plane,
  &__line {
    position: absolute;
    z-index: -1;
  }

  &__plane {
    left: 47%;
    top: -120px;
  }

  &__line {
    right: 41%;
    bottom: -30px;
  }
}

.list {
  padding: 190px 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: start;

  &__item {
    box-shadow: 0px 4px 10px 0px rgba($color: $black-171, $alpha: 0.1);
    padding: 0px 30px;
    position: relative;

    &__img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 6px solid $orange-f59;
      position: absolute;
      top: -60px;
      left: 30px;
    }

    &__text {
      max-width: 400px;
      font-family: $poppins;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      color: $grey-606;
      padding: 100px 0 20px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $black-2b2;
      padding: 20px 0;

      &__left {
        &__nick {
          text-transform: uppercase;
          font-size: 22px;
          font-weight: 400;
          font-family: $poppins;
          color: $grey-606;
        }
        &__who {
          padding-top: 20px;
          color: $grey-404;
          font-family: $poppins;
          font-weight: 300;
          font-size: 16px;
        }
      }

      &__right {
        display: flex;
        gap: 6px;
      }
    }
  }
}

.button {
  text-align: center;
  padding-bottom: 100px;
}
