@import '../../../styles/var';

.div img {
  transition: $normal;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}

.img {
  &__header {
    width: clamp(7.5rem, 6.705rem + 3.98vw, 9.688rem);
  }
  &__footer {
    width: clamp(7.5rem, 6.023rem + 7.39vw, 11.563rem);
  }
}
