@import '../../../styles/var';

.div img {
  transition: $normal;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}

.img {
  &__header {
    width: 155px;
    height: 75px;
  }
  &__footer {
    width: 185px;
    height: 85px;
  }
}
