@import '../../../styles/var';

.div {
  position: relative;
  z-index: 1;

  @media (max-width: $res768) {
    transform: scale(0.6);
  }

  @media (max-width: $res500) {
    display: none;
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    background: linear-gradient(185deg, #3bb5d7, #fdbe14);
    width: 329px;
    height: 487px;
    border-radius: 0 0 0 35px;
    bottom: -36px;
    left: -26px;
  }

  &__img {
    width: 673px;
    height: 562px;
    border-radius: 0 0 0 40px;
  }

  &__dots {
    position: absolute;
    z-index: 2;
    left: 35px;
    top: -25px;
  }

  &__figure {
    position: absolute;
    z-index: -1;
    right: -130px;
    top: -135px;
  }
}
