@import '../../styles/common';

.section {
  padding-bottom: 230px;

  @media (max-width: $res768) {
    padding-bottom: 80px;
  }
}

.title {
  text-align: center;
  padding-bottom: 85px;
  position: relative;
  z-index: 1;

  @media (max-width: $res768) {
    padding-bottom: 35px;
  }

  & img {
    position: absolute;
    z-index: -1;
    bottom: 55px;
    left: 35%;

    @media (max-width: $res1200) {
      display: none;
    }
  }
}

.map {
  width: 100%;
  height: 526px;
  background-color: rgba($color: $black-171, $alpha: 0.1);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
