@import '../../styles/common';

.section {
  padding-bottom: 150px;
}

.title {
  line-height: 140%;
  position: relative;
  z-index: 1;

  @media (max-width: $res1510) {
    text-align: center;
  }

  & img {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 5px;

    @media (max-width: $res1510) {
      left: 28%;
    }

    @media (max-width: $res768) {
      display: none;
    }
  }
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $res1510) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  @media (max-width: $res768) {
    gap: 0px;
  }

  &__left {
    &__text {
      padding-top: 50px;
      max-width: 756px;
      line-height: 187%;
      font-size: 22px;

      @media (max-width: $res1510) {
        text-align: center;
      }

      @media (max-width: $res768) {
        font-size: 16px;
        padding-top: 20px;
      }
    }
  }

  &__right {
    position: relative;
    z-index: 1;

    @media (max-width: $res768) {
      transform: scale(0.6);
    }

    @media (max-width: $res500) {
      display: none;
    }

    &::before {
      position: absolute;
      z-index: -1;
      content: '';
      background: linear-gradient(185deg, #3bb5d7, #fdbe14);
      width: 329px;
      height: 487px;
      border-radius: 0 0 0 35px;
      bottom: -36px;
      left: -26px;
    }

    &__img {
      width: 673px;
      height: 562px;
    }

    &__dots {
      position: absolute;
      z-index: 2;
      left: 35px;
      top: -25px;
    }

    &__figure {
      position: absolute;
      z-index: -1;
      right: -130px;
      top: -135px;
    }
  }
}
